extends layout

block layout-content
  div.View
    h1.Banner Fondea el Oceano
    div.Message
      div.Title
        h3 Portada
      span.Details Este es un ejemplo con pug
    div.NavButtons
      a(href="/v1/projects")
          div.NavButton API a proyectos